.room-choose {
    margin-left: 10vw;
    flex: 1 1 0;
    justify-content: center;
    gap: 4em;

    &>form {
        gap: 1em;

        &>label {
            flex-wrap: wrap;
            gap: 1em;

            &>input {
                padding: .25em .5em;
                max-width: 10em;
            }
        }

        &>button {
            padding: .5em 1em;
            align-self: flex-start;
        }
    }
}
